
:root {
    --hello-background-image-url: url(../img/hello-background-image.jpg);
    --about-background-image-url: url(../img/about-background-image.png);
    --skills-background-image-url: url(../img/skills-background-image.png);
    --color-1: #222222;
    --color-2: #027abc;
    --color-3: #888888;
}

* {
    list-style: none;
    text-decoration: none;
    cursor: default;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5,
p, a, div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;
}

.item-progress:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.contact:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.item-progress p {
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-3);
}

.item-progress p span {
    float: right;
    color: var(--color-3);
    display: none;
}

.progress-bar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #dedede;
}

.progress-bar div {
    height: 8px;
    background-color: var(--color-2);
}

.navbar {
    width: 100%;   
    height: auto;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0px;
    z-index: 1;
    overflow: auto;
}

.navbar ul {
    text-align: center;
}

.navbar ul li,
.navbar ul li a {
    display: inline-block;
}

.navbar ul li a {
    padding: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    transition: .2s;
}

.navbar ul li a:hover {
    color: var(--color-2);
    cursor: pointer;
}

.navbar ul li a *:hover {
    color: var(--color-2);
    cursor: pointer;
}

.navbar ul li a span {
    position: relative;
    top: -6px;
    padding-left: 8px;
}

@media only screen and (max-width: 900px) {

    .navbar ul li a span {
        display: none;
    }

}

::-webkit-scrollbar {
    /* width: 0px; */
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.section {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.button {
    background-color: var(--color-2);
    color: #fff;
    text-transform: uppercase;
    border: none;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-shadow: unset;
    padding: 0px 16px;
    text-align: center;
    display: inline-block;
    transition: all .2s;
}

.button:hover {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    cursor: pointer;
}










#hello .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-image: var(--hello-background-image-url);
    background-repeat: no-repeat;
    background-position: center center;
}

#hello .background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-1);
    opacity: .3;
}

#hello .user-info {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hello .user-info h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px #222;
    color: #fff;
}

#hello .user-info h1.intro {
    font-size: 20px;
    text-transform: unset;
    text-align: left;
    margin-left: 30px;
}

#hello .user-info h1.first-name {
    font-size: 80px;
    letter-spacing: 0px;
}

#hello .user-info h1.middle-name {
    font-size: 20px;
    letter-spacing: 14.5px;
    margin-left: 15px;
}

#hello .user-info h1.last-name {
    font-size: 40px;
    letter-spacing: 2.5px;
}

#hello .user-info .button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
}









#about .grid {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1 col2 col3";
    align-items: center;
}



#about .grid .item {
    width: 100%;
    padding: 60px;
}

#about .grid .item.info {
    grid-area: "col1";
}

#about .grid .item.info * {
    text-align: right;
}

#about .grid .item.info h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-1);
}

#about .grid .item.info h2 {
    margin: 8px 0px 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-2);
}

#about .grid .item.info p {
    line-height: 24px;
    color: var(--color-3);
}

#about .grid .item.blank {
    grid-area: "col2";
}

#about .grid .item.bars {
    grid-area: "col3";
}

#about .grid .item.bars h1 {
    font-size: 30px;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-1);
}

#about .grid .item.bars .item-progress:not(:last-child) {
    margin-bottom: 24px;
}

#about .user-image {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background-image: var(--about-background-image-url);
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (max-width: 900px) {
    
    #about .grid {
        position: initial;
        top: unset;
        transform: unset;
        grid-template-columns: 1fr;
        grid-template-areas: "col1" "col2" "col3";
    }

    #about .grid .item {
        padding: 24px;
    }

    #about .grid .item h1 {
        font-size: 24px !important;
    }

    #about .grid .item.info {
        padding-bottom: 0px;
    }

    #about .grid .item.info * {
        text-align: left;
    }

    #about .grid .item.blank {
        display: none;
    }

    #about .user-image {
        opacity: .05;
        background-size: cover;
    }

}









#skills {
    background-image: var(--skills-background-image-url);
    background-repeat: repeat;
    min-height: calc(100% + 60px);
}

#skills h1 {
    position: absolute;
    top: 80px;
    left: 75px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-1);
    display: none;
}

#skills .grid {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1 col2 col3";
    align-items: flex-start;
    justify-items: center;
}

#skills .grid .item {
    padding: 60px;
    width: 100%;
}

#skills .grid .item h2 {
    margin: 8px 0px 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-1);
}

#skills .grid .item .item-progress {
    max-width: 300px;
}

#skills .grid .item .item-progress ~ h2 {
    margin-top: 40px;
}

#skills .grid .item .item-progress:not(:last-child) {
    margin-bottom: 24px;
}

@media only screen and (max-width: 900px) {
    
    #skills .grid {
        padding-top: 80px;
        position: initial;
        top: unset;
        transform: unset;
        grid-template-columns: 1fr;
        grid-template-areas: "col1" "col2" "col3";
    }

    #skills h1 {
        top: 56px;
        left: 24px;
        width: 100%;
        display: block;
        font-size: 24px;
    }

    #skills .grid .item {
        padding: 24px;
    }

    #skills .grid .item:not(:last-child) {
        padding-bottom: 0px;
    }

}








#contact {
    background-color: var(--color-1);
    min-height: 75%;
}

#contact .grid {
    padding-top: 60px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "col1 col2";
    align-items: flex-start;
    justify-items: center;
}

#contact .grid .item {
    padding: 60px;
    width: 100%;
}

#contact .grid .item .contact {
    position: relative;
    text-align: center;
}

#contact .grid .item .contact .contact-icon i.material-icons {
    font-size: 70px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: var(--color-2);
    color: #fff;
}

#contact .grid .item .contact h1 {
    margin: 8px 0px 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-3);
    font-size: 20px;
}

#contact .grid .item.col1 {
    grid-area: "col1";
    justify-self: end;
}

#contact .grid .item.col2 {
    grid-area: "col2";
    justify-self: start;
}

@media only screen and (max-width: 900px) {

    #contact .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "col1" "col2";
    }

    #contact .grid .item.col1,
    #contact .grid .item.col2 {
        justify-self: center;
        padding: 0px;
    }

    #contact .grid .item.col1 {
        padding-bottom: 60px;
    }

    #contact .grid .item .contact h1 {
        font-size: 15px;
    }

    #contact .grid .item .contact .contact-icon i.material-icons {
        font-size: 40px;
        width: 64px;
        height: 64px;
        line-height: 64px;
    }

}











